body{
  background-color:rgb(82, 134, 154);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
  }
  
  #weather {
    margin-top: 50px;
    text-align: center;
  }
  
  #location, #temperature, #description {
    font-size: 24px;
  }
  